.navbar {
  background-color: #1E1E1E;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #00AEEF;
  box-shadow: 0 4px 10px rgba(0, 174, 239, 0.5);
}

.navbar-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 174, 239, 0.5);
}

.nav-link {
  margin: 0 10px;
  color: #fbfeff;
  text-decoration: none;
  font-size: 1.1em;
}

.nav-link:hover {
  color: #00AEEF;
}

.navbar:visited {
  color: #FFF;
}

body {
  background-color: #1E1E1E;
  color: #FFF;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #00AEEF;
}

.about-me, .skills {
  margin: 20px;
  padding: 20px;
  border: 1px solid #00AEEF;
  box-shadow: 0 4px 10px rgba(0, 174, 239, 0.5);
  border-radius: 5px;
}

.footer {
  margin-top: 20px;
  padding: 30px;
  border-top: 1px solid #00AEEF;
  box-shadow: 0 -4px 6px rgba(0, 174, 239, 0.5);
}

.about-me {
  display: flex;
  align-items: center;
  padding: 20px;
}

.image-container {
  flex: 1;
  text-align: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Circular image */
  border: 2px solid #00AEEF;
  box-shadow: 0 4px 10px rgba(0, 174, 239, 0.5);

}

.about-text {
  padding-left: 15px;
}

#contact {
  display: flex;
  justify-content: space-evenly;
}

#contact a {
  text-decoration: none;
  color: #FFF;
}

#contact a:hover {
  color: #00AEEF;
}

.projects{
  margin-left: 25px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  
}

.project-card {
  background: #282828;
  padding: 20px;
  border: 1px solid #00AEEF;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
}

.project-card:hover {
  background: #333333;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 174, 239, 0.5);
}
.project-card h3 {
  margin: 10px 0;
  font-size: 1.2em;
  color: #FFF;
}

.project-card p {
  color: #B3B3B3;
  font-size: 0.9em;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px);    /* Blurs the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is above other content */
}

.modal-content {
  background: #1E1E1E;
  color: #FFF;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 174, 239, 0.5);
  position: relative;
}

.modal-content .close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  color: #FFF;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
}

.modal-content .close-button:hover {
  color: #00AEEF;
}

.modal-content .detail-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}

.modal-content .tech-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.modal-content .tech-list li {
  margin: 5px 0;
  color: #00AEEF;
}

.modal-content .repo-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #00AEEF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.modal-content .repo-link:hover {
  background: #007A99;
}


button {
  background: #00AEEF;
  border: none;
  color: #FFF;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #007A99;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .about-me {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .profile-image{
    max-width: 80%;
  }

  .project-grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}


































